.fileUpload {
  position: relative;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.fileField {
  border: 2px dashed #635985;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 12px;
  input {
    display: none;
  }
  img {
    max-height: 70px;
  }
}
.btn {
  padding: 8px 14px;
  background-color: lighten(#635985, 15%);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0.5px;
  max-width: 200px;
  transition: filter .2s ease-in-out;
  font-size: 18px;
  &:hover {
    filter: brightness(1.2);
  }
}
.field {
  p {
    color: #e36060;
    margin-top: 4px;
  }
}
