.form {
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 7px 5px rgba(#000, 0.1);
}
.field {
  p {
    color: #e36060;
    margin-top: 4px;
  }
}

.input {
  border: 2px solid #635985;
  border-radius: 12px;
  padding: 10px 20px;
  display: block;
  width: 100%;
  font-size: 18px;
}
.btn {
  padding: 8px 14px;
  background-color: lighten(#635985, 15%);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0.5px;
  max-width: 200px;
  transition: filter .2s ease-in-out;
  font-size: 18px;
  &:hover {
    filter: brightness(1.2);
  }
}
.disabled {
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.5;
}

.success {
  background-color: #43b25b;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 18px;
  padding: 8px 14px;
}
