.page-404 {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e1e0e0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__link {
    color: #635985;
    font-size: 46px;
  }
  &__text {
    font-size: 32px;
    margin-bottom: 26px;
  }
  &__title {
    font-size: 52px;
    margin-bottom: 20px;
  }
}
