.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.5);
  z-index: 20;
}
.content {
  position: relative;
  max-width: 600px;
  width: 100%;
}
.btn {
  position: absolute;
  top: 10px;
  right: 10px;
  &::before {
    content: "\2573";
    font-weight: bold;
    font-size: 20px;
    transition: color .2s ease-in-out;
  }
  &:hover::before {
    color: #8274b3;
  }
}
