.header {
  padding: 20px;
  background-color: #635985;
  color: #f3f3f3;
  font-size: 20px;
  box-shadow: 0 3px 6px 2px rgba(#000, 0.3);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.active {
  text-decoration: underline;
}
.hidden {
  display: none;
}
.page {
  pointer-events: none;
}
